*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml

# virtualenv
ENV

# Project specific
# the env.yaml file contains the s3 and imgur api credentials, so it should not go into source control
# aww.txt is the cache file for the /r/aww html content so i don't have to go to reddit every time i run the script for testing
# files is the destination directory for the downloads from imgur.
env.yaml
aww.txt
files